.obsidian
*.log

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
.idea/
*.swp
*.swo
*~

logs/
*.out

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

_build/
build/